<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PVL-Rails</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header-wrap">
  <div class="header">
    <div class="logo">
      <h1>PVL-Rails</h1>
    </div>
    <div class="menu">
      <ul>
        <li><a href="index.html" class="active">Aloitus</a></li>
        <li><a href="osa1.html">1. Tutustutaan web-ohjelmointiin </a></li>
        <li><a href="osa2.html">2. Tutustutaan Railsiin</a></li>
        <li><a href="osa3.html">3. Käyttäjätunnukset ja salasanat</a></li>
        <li><a href="osa4.html">4. Sivut hienoiksi CSS:llä</a></li>
        <li><a href="osa5.html">5. Viestien lähetys</a></li>
        <li><a href="osa6.html">6. Web-sovellusten tietoturvasta</a></li>
        <li><a href="osa7.html">7. Ohjeita tulevaan   </a></li>
      </ul>
    </div>
  </div>
</div>

<div class="page  mar-top30" style="padding:5px;">
  <div class="primary-col">
    <div class="generic bdr-bottom-none">
      <div class="panel" style="color:black;">
        <div class="title">
          <h1>Sivut hienoiksi</h1>
          <h2>Tässä osassa muokkaamme viewejä ja asennamme Bootstrap-tyylikirjaston </h2>
          <p> Sivut ovat nyt aika rumat. Emmehän edes tiedä, onko joku kirjautunut sisään vai ei. Muokataan viewejä niin että näkyvillä on Kirjaudu sisään -nappi jos kukaan ei ole kirjautunut, ja Kirjaudu ulos-nappi jos on. Haluamme myös näkyviin kirjautuneen käyttäjän nimen. Asennetaan ensin kuitenkin Bootstrap-tyylikirjasto, sillä siitä tulee olemaan paljon hyötyä tässä osassa. Lisätään Gemfile-tiedostoon </p>
         
         </br>
         <code>
         gem 'bootstrap-sass' </br>
         group :development do </br>
         &nbsp;gem 'rails_layout' </br>
         end </br>
         </code> </br></br>

         <p> Gemit asennetaan komennolla </p>
         </br>
         <code>
         bundle install
         </code> </br></br>
         Asennetaan Bootstrap ajamalla </br>

          </br>
         <code>
         rails generate layout:install bootstrap3 --force
         </code> </br></br>
         Käynnistä serveri sen jälkeen uudelleen. Katso selaimesta sovellusta ja huomaa ero! </br></br>

         <h1> Muokataan navigaatiopalkkia </h1>
         Sivun yläreunassa on nyt musta navigaatiopalkki. Loogisinta on ilmoittaa navigaatiopalkissa kirjautuneen käyttäjän nimi. Myös Kirjaudu Ulos- ja Kirjaudu Sisään -napit sijoitetaan navigaatiopalkkiin.  </br></br>

         <h1> Keskustelukysymys: Miten saamme tietää tällä hetkellä kirjautuneen käyttäjän? </h1>

         Vastaus current_user -metodi ApplicationControlleriin. ApplicationControllerin metodeita voidaan kutsua muista controllereista. Helper_method-määrityksen avulla current_user -metodia voidaan kutsua myös vieweistä. Jos et jaksa koodata niin kopioi <a href="https://github.com/UMTti/chat/blob/master/app/controllers/application_controller.rb"> täältä </a></br></br>
         <img src="current_user.png" /></br></br>

         <h1> Kirjautuneen käyttäjän nimi näkyviin </h1>
         Navigaatiolinkkien view on tiedosto app/views/layouts/_navigation_links.html.erb. Vieweihin saa kirjoitettua Rubyn ehdolauseita <% %> -tagien sisälle. <%= %> -tagi saa sisällään olevan sisällön näkyviin sivulle. 

         </br></br>
         <img src="current_user_tagi.png" /> </br></br>

         <h1> Kirjaudu sisään / Kirjaudu ulos </h1>

         Saat selville rake routes -komennolla chat-hakemistossa sisäänkirjautumisen ja uloskirjautumisen reitit (siis esim signout_path). Esimerkiksi uloskirjautumislinkin koodi on siis  


          </br></br>
         <code>
         <%= link_to "Kirjaudu ulos", signout_path, class: 'navbar-brand' %>
         </code> </br></br>

         Rakenna itse sisäänkirjautumisen linkki ja sijoita molemmat linkit _navigation_links.html.erb-tiedostoon oikeisiin kohtiin. Huom. lisää else-lause ifiin!

        </div> </br>
         
        <h1> Vapaavalintaista tyylitystä </h1>
        Kokeile <a href="http://getbootstrap.com/css/">Bootstrapin sivuilta</a> esimerkiksi Buttons-kohdasta lisätä navigaatiolinkin classiin napin tyylitys btn btn-default. 
    </div>
    </div>